<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jackson Perry</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6HBMYVQQLR"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6HBMYVQQLR');
        </script>
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        {{{body}}}
    </body>
</html>